# Server
PORT=3000

# Smokeball OAuth2 + API (AU Staging)
SMOKEBALL_CLIENT_ID=your_client_id
SMOKEBALL_CLIENT_SECRET=your_client_secret
SMOKEBALL_API_KEY=your_api_key
SMOKEBALL_AUTH_URL=https://datastaging-auth.smokeball.com.au
SMOKEBALL_API_URL=https://stagingapi.smokeball.com.au
SMOKEBALL_REDIRECT_URI=https://smokeball3cx-itt.vercel.app
